* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
}

ul {
    list-style: none;
    display: flex;
    padding-right: 20px;
}

#colship {
    color: rgb(199, 174, 30);
    padding-right: 70px;
}

.greycon {
    background-color: rgb(15, 15, 15);
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 5px;
    list-style-type: none;
    color: rgb(231, 225, 225);
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s all;
}

h1 {
    color: rgb(184, 179, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    padding-right: 70px;
    font-size: 30px;
}

#login {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 3px solid rgb(199, 174, 30);
    border-radius: 13px;

}


#login a {
    text-decoration: none;
    color: rgb(199, 174, 30);
    padding: 4px 7px;
}

#login:hover {
    background-color: rgb(212, 185, 33);
}

#login a:hover {
    color: white;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

.visionhead {
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgb(102, 102, 102);
}

.ourvision {
    display: flex;
    width: 1100px;
    gap: 20px;
    border: 2px solid rgb(214, 210, 210);

}

.parag {
    font-size: 20px;
    word-spacing: 5px;
    font-family: Satisfy;
    quotes: "'" "'";
    line-height: 1.5;
    font-weight: bold;
    width: 700px;
    color: grey;
    margin-right: 30px;

}

.quotes {
    color: rgb(226, 193, 5);
    font-size: 50px;
}

.teamhead {
    margin-left: 100px;
    color: rgb(102, 102, 102);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
}

.teamsep {
    margin-left: 435px;
    width: 400px;
    margin-bottom: 50px;
    border: 2px solid rgb(214, 210, 210);
}
.personholder {
    width: 980px;
    height: 300px;
    background-color: rgb(231, 231, 231);
    border-radius: 30px;
    cursor: pointer;
}

.skills{
    margin-top: 20px;
}

.role{
    margin-bottom: 10px;
}

.favquote{
    margin-top: 30px;
}

.name h2 {
    color: grey;
    font-size: 40px;
    padding-left: 30px;
}

.skills p {
    color: grey;
    padding-left: 30px;
    font-size: 20px;
}

.favquote p {
    padding-top: 20px;
    color: grey;
    padding-left: 30px;
    font-size: 20px;
}

.fancysep {
    margin: 20px 0px;
    margin-left: 125px;
    position: relative;
    bottom: 335px;
}

footer {
    margin-top: -245px;
    padding-bottom: 80px;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
}

.socialmedia {
    word-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.copyright {
    word-spacing: 2px;
}

.rights {
    color: rgb(165, 163, 163);
    padding-left: 60px;
}

/* New Code */
.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstsep {
    width: 100%;
    flex-direction: column;
}

.secondsep{
    margin-right: 80px;
}

.img-size {
    margin-top: 4px;
    width: 290px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.remaincontent {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.design {
    /* gap: 150px; */
    flex-direction: column;
}

.imgbr{
    margin-top: 4px;
    width: 290px;
    height: 300px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.line {
    position: relative;
}

.l1 {
    right: 540px;
}

.line1 {
    width: 20px;
    height: 5px;
    background: rgb(165, 163, 163);
    bottom: 160px;
    border-top-left-radius: 10px;
}

.line2 {
    width: 5px;
    height: 500px;
    background: rgb(165, 163, 163);
    bottom: 165px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 548px;
}

.line3 {
    width: 122px;
    height: 5px;
    background: rgb(165, 163, 163);
    bottom: 170px;
    border-bottom-left-radius: 10px;
    right: 488px;
}

.l2{
    left: 565px;
}
.line4 {
    width: 26px;
    height: 5px;
    background: rgb(165, 163, 163);
    bottom: 515px;
    border-top-right-radius: 10px;
}

.line5 {
    width: 5px;
    height: 500px;
    background: rgb(165, 163, 163);
    bottom: 520px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 577px;
}

.line6 {
    width: 147px;
    height: 5px;
    background-color: rgb(165, 163, 163);
    bottom: 525px;
    border-bottom-right-radius: 10px;
    left: 505px;
}

.md{
    margin-right: 240px;
    position: relative;
    bottom: 695px;
}

.keyanima{
    border-radius: 30px;
}
.keyanima:hover{
    box-shadow: 0 0 15px rgb(102, 102, 102);
}


ul li ul.profile li{
    display: block;
}


ul li ul.profile{
    margin-top: 15px;
    width: 100%;
    background: #333333;
    /* background-size: 100px 100px; */
    position: absolute;
    z-index: 999;
    display: none;
}


.profont{
    font-size: 20px;
}





ul li:hover ul.profile{
    display: block;
}