* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body::-webkit-scrollbar {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
    color: white;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    text-decoration: none;
    /* padding: 50px; */
    padding: 10px;
    padding-right: 20px;
}

ul {
    list-style: none;
    display: flex;
    padding-right: 20px;
}

#colship {
    color: rgb(199, 174, 30);
    padding-right: 100px;
}

.greycon {
    background-color: rgb(15, 15, 15);
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0;
}


nav ul li a {
    text-decoration: none;
    /* padding: 30px; */
    padding: 5px;
    list-style-type: none;
    color: rgb(231, 225, 225);
    /* font-size: 25px; */
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s all;
}


h1 {
    color: rgb(184, 179, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 70px;
    font-size: 30px;
}

#login {

    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    /* border: 4px solid rgb(199, 174, 30); */
    /* border-radius: 15px; */
    border: 3px solid rgb(199, 174, 30);
    border-radius: 13px;

}


#login a {
    text-decoration: none;
    color: rgb(199, 174, 30);
    padding: 4px 7px;
}

#login:hover {
    background-color: rgb(212, 185, 33);
    /* border-radius: 15px; */

}

#login a:hover {
    color: white;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}


h1 {
    color: rgb(184, 179, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 70px;
    font-size: 30px;
}

#login {

    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    /* border: 4px solid rgb(199, 174, 30); */
    /* border-radius: 15px; */
    border: 3px solid rgb(199, 174, 30);
    border-radius: 13px;

}


#login a {
    text-decoration: none;
    color: rgb(199, 174, 30);
    padding: 4px 7px;
}

#login:hover {
    background-color: rgb(212, 185, 33);
    /* border-radius: 15px; */

}

#login a:hover {
    color: white;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fnt-sz {
    font-size: 18px;
}

.row {
    width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(184, 183, 183);
}

.bg-box {
    flex-wrap: wrap;
    flex-direction: column;
}

.box-one {
    width: 1180px;
    height: 50px;
    background-color: rgb(233, 233, 233);
    margin-top: 5px;
    font-size: 30px;
    align-items: flex-start;
    border-radius: 12px;
}

.womenfash{
    color: rgb(83, 83, 83);
    margin-left: 350px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    word-spacing: 5px;
}

.menfash{
    color: rgb(83, 83, 83);
    margin-left: 400px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    word-spacing: 5px;
}


.electronics{
    color: rgb(83, 83, 83);
    margin-left: 430px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    word-spacing: 5px;
}

.shoes{
    margin-left: 510px;
}
.box-two {
    width: 1180px;
    box-shadow: 0 0 5px rgb(189, 171, 67);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.box {
    width: 240px;
    height: 370px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(132, 108, 108);
    box-shadow: 0 2px 12px rgb(222, 221, 211);
    flex-direction: column;
    gap: 10px;
}

.box:hover {
    cursor: pointer;
    box-shadow: 0 0 12px rgb(186, 184, 161);
}

.box a {
    display: flex;
    justify-content: center;
}

.box a img {
    height: 220px;
    cursor: pointer;
}

/* .box a img:hover{
    box-shadow: 0 0 8px rgb(184, 183, 183);
} */
.box-data {
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.box-data p {
    margin-left: 10px;
}

.brand {
    color: grey;
    font-size: 19px;
}

.dis-p {
    font-size: 21px;
}

.act-p {
    text-decoration: line-through;
    color: grey;
}

.dis {
    color: green;
    font-size: 18px;
}