@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    text-decoration: none;
    /* padding: 50px; */
    padding: 10px;
    padding-right: 20px;
}

ul {
    list-style: none;
    display: flex;
    padding-right: 20px;
}

#colship {
    color: rgb(199, 174, 30);
    padding-right: 100px;
}

.greycon {
    background-color: rgb(15, 15, 15);
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0;
}


nav ul li a {
    text-decoration: none;
    /* padding: 30px; */
    padding: 5px;
    list-style-type: none;
    color: rgb(231, 225, 225);
    /* font-size: 25px; */
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s all;
}


h1 {
    color: rgb(184, 179, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 70px;
    font-size: 30px;
}

#login {

    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    /* border: 4px solid rgb(199, 174, 30); */
    /* border-radius: 15px; */
    border: 3px solid rgb(199, 174, 30);
    border-radius: 13px;

}


#login a {
    text-decoration: none;
    color: rgb(199, 174, 30);
    padding: 4px 7px;
}

#login:hover {
    background-color: rgb(212, 185, 33);
    /* border-radius: 15px; */

}

#login a:hover {
    color: white;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

.dotbox {
    position: absolute;
    right: 45px;
    top: 5px;
}

.dot{
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
}

.df {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
}

.container {
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    margin: 20px 0;
}

.image {
    width: 370px;
    height: 500px;
    box-shadow: 0 0 10px rgb(201, 201, 201);
    border-radius: 12px;
}

.data {
    width: 750px;
    border-radius: 12px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* gap: 5px; */
    padding-top: 5px;
    min-height: 465px;
}

.image img {
    /* width: 430px; */
    height: 500px;
    border-radius: 12px;
}

.comn {
    width: 700px;
}

.brd {
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.ttl {
    font-size: 27px;
}

.pricespl {
    flex-direction: column;
}

.price {
    justify-content: flex-start;
    gap: 10px;
}

.pricespl span {
    font-size: 16px;
    color: green;
    margin-top: 10px;
}

.dis {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.act {
    font-size: 20px;
    color: gray;
    text-decoration: line-through;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 2px;
}

.ofr {
    font-size: 20px;
    color: green;
}

.dtl {
    flex-direction: column;
    margin-top: 10px;
    font-size: 20px;
}

.dtl span {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}

.dtl p {
    width: 650px;
    /* height: 210px; */
    padding: 0 20px;
    color: #4e4d4d;
    padding-top: 5px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

form {
    width: 750px;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}

.addtcrd {
    width: 700px;
    height: 30px;
    font-size: 25px;
    background: #ffe65d;
    border: none;
    border-radius: 10px;
}

.addtcrd:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #ded49e;
}