* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar{
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: transparent;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
}

ul {
    list-style: none;
    display: flex;
    padding-right: 20px;
}

#colship {
    color: rgb(199, 174, 30);
    padding-right: 100px;
}

.greycon {
    background-color: rgb(15, 15, 15);
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0;
}


nav ul li a {
    text-decoration: none;
    padding: 5px;
    list-style-type: none;
    color: rgb(231, 225, 225);
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s all;
}


h1 {
    color: rgb(184, 179, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 70px;
    font-size: 30px;
}

#login {

    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 3px solid rgb(199, 174, 30);
    border-radius: 13px;

}


#login a {
    text-decoration: none;
    color: rgb(199, 174, 30);
    padding: 4px 7px;
}

#login:hover {
    background-color: rgb(212, 185, 33);
}

#login a:hover {
    color: white;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

.menshow {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    background-color: rgb(54, 54, 54);
    border: 5px solid rgb(54, 54, 54);
    border-radius: 6px;
    padding: 0px 5px;
}

.menshow:hover{
    cursor: pointer;
}


.menshow a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}


.menimg {
    border: 5px solid black;
    border-radius: 8px;
}

.womenimg {
    border: 5px solid black;
    border-radius: 8px;
}


.elecimg {
    border: 5px solid black;
    border-radius: 8px;
}

.product{
    margin: 10px 0;
    position: relative;
    text-decoration: none;
}
.txt{
    text-decoration: none;
}

.bannertxt {
    position: absolute;
}

.storeimages {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-left: 30px;
    overflow: scroll;
}

.storeimages::-webkit-scrollbar{
    background: transparent;
}
.storeimages::-webkit-scrollbar-thumb{
    background: transparent;
    color: white;
}


.bannertxt h1 {
    color: rgb(209, 207, 207);
}

/* New Code */
footer {
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}


.socialmedia {
    word-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.copyright {
    word-spacing: 2px;
}


.rights {
    color: rgb(165, 163, 163);
    padding-left: 60px;
}



.bannerwomen {
    position: absolute;
}

.bannerwomen h1 {
    color: rgb(240, 240, 240);
}


.bannerelec {
    position: absolute;
}


.bannerelec h1 {
    color: rgb(247, 245, 245);
}


.storegold {
    color: rgb(221, 173, 53);
    font-style: normal;
}


.mainh1 {
    color: grey;
    margin-top: 20px;
    font-style: italic;
}

/* Extra CSS */
.mainheading{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.banner{
    position: absolute;
    bottom: 10px;
}

.banner h1{
    font-size: 25px;
    text-shadow: 0 0 10px black;
    padding: 0 15px;
}

.img-size{
    width: 260px;
    height:330px;
}

.dotbox {
    position: absolute;
    right: 45px;
    top: 5px;
}

.dot{
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
}