* {
    margin: 0;
    padding: 0;
}

body {
    /* width: 100%;
    height: 100%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar{
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: transparent;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    text-decoration: none;
    /* padding: 50px; */
    padding: 10px;
    padding-right: 20px;
}

ul {
    list-style: none;
    display: flex;
    padding-right: 20px;
}

#colship {
    color: rgb(199, 174, 30);
    padding-right: 100px;
}

.greycon {
    background-color: rgb(15, 15, 15);
    height: 50px;
    position: sticky;
    z-index: 1;
    top: 0;
}


nav ul li a {
    text-decoration: none;
    /* padding: 30px; */
    padding: 5px;
    list-style-type: none;
    color: rgb(231, 225, 225);
    /* font-size: 25px; */
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s all;
}


h1 {
    color: rgb(184, 179, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 70px;
    font-size: 30px;
}

#login {

    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    /* border: 4px solid rgb(199, 174, 30); */
    /* border-radius: 15px; */
    border: 3px solid rgb(199, 174, 30);
    border-radius: 13px;

}


#login a {
    text-decoration: none;
    color: rgb(199, 174, 30);
    padding: 4px 7px;
}

#login:hover {
    background-color: rgb(212, 185, 33);
    /* border-radius: 15px; */

}

#login a:hover {
    color: white;
    cursor: pointer;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}

#cartimg {
    width: 50px;
    height: 50px;
    padding-right: 45px;

}

nav ul li a:hover {
    color: rgb(226, 199, 42);
    transition: ease-in;
}


.mainhead {
    padding-left: 50px;
}

.headning {
    font-size: 40px;
    padding-top: 110px;
    /* font-size: 80px; */
    /* padding-top: 400px; */
    margin: 0;
    color: black;
}

.headning3 {
    /* padding-left: 80px; */
    padding-left: 20px;
    padding-top: 15px;
}

.paraning {
    font-size: 22px;
    /* font-size: 25px;
    padding-left: 35px; */
    color: crimson;
    padding-top: 15px;
}

.mainbtn {
    padding-left: 100px;
    /* padding-left: 125px; */
    padding-right: 0px;
    padding-top: 15px;
    /* font-size: 100px; */
    font-size: 30px;
}

.shopbtn {
    /* margin-right: 20px; */
    /* font-size: 25px; */
    /* margin-right: 10px; */
    font-size: 22px;
    font-weight: bold;
    background-color: crimson;
    border: 4px solid crimson;
    /* border-radius: 15px; */
    border-radius: 12px;
}

.signbtn {
    margin-left: 100px;
    /* font-size: 25px; */
    font-size: 22px;
    font-weight: bold;
    background-color: crimson;
    border: 4px solid crimson;
    /* border-radius: 15px; */
    border-radius: 12px;
}


.mainsection {
    display: flex;
    justify-content: space-between;
}

.sideimage {
    margin: 0;
    padding: 0;
}

.mainimage {
    margin-left: 62px;
    padding: 0;
}


.shopbtn a {
    text-decoration: none;
    color: gold;
}


.signbtn a {
    text-decoration: none;
    color: gold;
}


.madship {
    color: goldenrod;
    font-size: 40px;
}

.at {
    color: crimson;
}


.advertise {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(0, 0, 0); */
    /* margin-top: 50px; */
    color: rgb(0, 0, 0);
}


.firstimg {
    padding-left: 20px;
}


.secondimg {
    padding-left: 40px;
}


.thirdimg {
    padding-left: 70px;
}


.firsttwo {
    padding-left: 40px;
}


.firstpara {
    color: grey;
}


.secondpara {
    color: grey;
}


.thirdpara {
    color: grey;
    /* padding-left: 20px; */
}


.headbycat {
    word-spacing: 10px;
    /* padding-left: 750px; */
    padding-left: 100px;
    background-color: rgb(48, 47, 47);
    color: rgb(218, 215, 215);
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}


.goldcat {
    color: rgb(240, 182, 37);
}


.shopby {
    color: rgb(255, 32, 76);
}


.blockproducts {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}


.conshopbycat {
    padding-top: 50px;
    padding-bottom: 40px;
}


.blockpara1 {
    color: grey;
    font-size: 18px;
}


.blockpara2 {
    color: grey;
    font-size: 18px;
}


.blockpara3 {
    color: grey;
    font-size: 18px;
}


.blockpara4 {
    color: grey;
    font-size: 18px;
}


.viewbtn {
    /* margin-top: 100px; */
    /* margin-left: 880px; */
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 25, 71);
    border: 4px solid rgb(255, 25, 71);
    border-radius: 15px;
}


.viewbtn a {
    text-decoration: none;
    color: rgb(255, 217, 4);
}


.conbestseller {
    /* padding-top: 100px; */
    /* overflow-x: scroll; */
    padding-top: 50px;
    padding-bottom: 50px;
}


.headbestseller {
    word-spacing: 10px;
    /* padding-left: 820px; */
    background-color: rgb(48, 47, 47);
    color: rgb(218, 215, 215);
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.rollproducts {
    display: flex;
    overflow-x: scroll;

    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 90px;

}
/* 
.roll1 {
    padding-left: 150px;
    padding-right: 250px;
}


.roll2 {
    padding-right: 250px;
}


.roll3 {
    padding-right: 250px;
}


.roll4 {
    padding-right: 250px;
} */


footer {
    margin-top: 80px;
    /* padding-bottom: 100px; */
    padding-bottom: 80px;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
}


.socialmedia {
    /* padding-left: 850px; */
    /* padding-top: 50px; */
    word-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.copyright {
    /* padding-left: 830px; */
    word-spacing: 2px;
}


.rights {
    color: rgb(165, 163, 163);
    padding-left: 60px;
}


.firstsep {
    border: 2px solid rgb(214, 210, 210);
}


/* Extra Code */
.fnt {
    font-size: 19px;
    margin: 15px 0px;
}

.secondtwo {
    margin-left: 15px;
}

.thirdtwo {
    margin-left: 10px;
}

.vcsbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.roll{
    margin-left: 30px;
}

/* ------------ */