<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart - MADSHIP</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    {% load static %}
    <link rel="stylesheet" href="{% static 'cart.css' %}">
    <link rel="stylesheet" href="{% static 'carts.css' %}">
    <link rel="icon" href="{% static 'MADICON.png' %}" type="image/png">
</head>

<body>
    <header>
        <nav class="greycon">
            <h1>MAD<span id="colship">SHIP</span></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'store' %}">Store</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
            <button type="submit" id="login" class="login"><a href="{% url 'login' %}">Sign In</a></button>
            <a href="{% url 'cart' %}"><img src="{% static 'shopcart.png' %}" alt="" id="cartimg"></a>
            <div class="dotbox" id="dotbox"></div>

        </nav>
    </header>
    <main>
        <div class="container df">
            <div class="heading df">
                <p class="text df">My Cart</p>
            </div>
            <div class="mainbox df">
                <div id="listbox" class="df boxes">
                    <div class="b"></div>
                </div>
                <div class="buybox" id="buybox">
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    let img = document.getElementById('image')
    let ttl = document.getElementById('title')
    let qty = document.getElementById('qty')
    let price = document.getElementById('price')
    let buy = document.getElementById('buy')
    let listbox = document.getElementById('listbox')

    let numitem = localStorage.length;
    let actualprice = 0, discntprice = 0;

    if (numitem == 0) {
        document.getElementById('buybox').innerHTML = `
        <div class="mtcrt df" id="mtcrt">
                    Empty Cart !
                </div>`;
    }
    for (let i = 0; i < localStorage.length; i++) {
        // console.log(localStorage.key(i))
        let newdiv = document.createElement('div')
        newdiv.className = 'box df';
        newdiv.id = "" + localStorage.key(i) + ""

        let imgg = JSON.parse(localStorage.getItem(localStorage.key(i))).image;
        let titl = JSON.parse(localStorage.getItem(localStorage.key(i))).title;
        let qtyitm = JSON.parse(localStorage.getItem(localStorage.key(i))).quantity;
        let pric = JSON.parse(localStorage.getItem(localStorage.key(i))).price;
        let act = JSON.parse(localStorage.getItem(localStorage.key(i))).actprc;

        actualprice += act * qtyitm;
        discntprice += pric * qtyitm;

        newdiv.innerHTML = `
            <div class="image df" id="image"><img src="${imgg}" alt=""></div>
                        <div class="title df" id="title">${titl}</div>
                        <div class="qty df">Quantity : <p id="qty">${qtyitm}</p>
                            <div class="arrow df">
                                <img src="{%static 'up.png'%}" alt="" onclick="qtychangeup(${localStorage.key(i)})">
                                <img src="{%static 'down.png'%}" alt="" onclick="qtychangedown(${localStorage.key(i)})">
                            </div>
                        </div>
                        <div class="amount df">₹
                            <p id="amount">${pric * qtyitm}</p>
                            </div>
                            <div class="remove df" id="remove"><button onclick="deleteitem(${localStorage.key(i)})">Remove</button></div>
                            `;
        listbox.append(newdiv)
        if (localStorage.length > 0) {
            document.getElementById("buybox").innerHTML = `
                                <div class="buy df" id="buy">
                                <div class="prcdtl cmm df">Price Details</div>
                                            <div class="itmqty cmm df">Item Quantity :
                                                <p id="itmqty">0</p>
                                            </div>
                                            <div class="dlvrycrg cmm df">Delivery Charge :
                                                <div class="df"> ₹50</div>
                                            </div>
                                            <div class="ttlprcdis cmm df">Total Amount :
                                                <div class="df">₹<p id="ttlprcdis">0</p>
                                                </div>
                                            </div>
                                            <div class="plcord cmm df"><button id="plcord"><a href="{% url 'checkout' %}" class ="df">Checkout</a></button>
                                            </div>
                                        </div>
                                `;
        }
        document.getElementById("itmqty").innerText = numitem;
        document.getElementById("ttlprcdis").innerText = discntprice + 50;
    }

    // Remove item function
    function deleteitem(itemid) {
        localStorage.removeItem(itemid)
        let itembox = document.getElementById("" + itemid)
        itembox.remove();
        window.location.reload()
    }

    // Quantity of item add function
    function qtychangeup(id) {
        let imgg = JSON.parse(localStorage.getItem(id)).image;
        let titl = JSON.parse(localStorage.getItem(id)).title;
        let qtyitm = JSON.parse(localStorage.getItem(id)).quantity;
        let pric = JSON.parse(localStorage.getItem(id)).price;
        let act = JSON.parse(localStorage.getItem(id)).actprc;

        let data = {
            'title': titl,
            "quantity": ++qtyitm,
            "image": imgg,
            "price": pric,
            "actprc": act
        }

        localStorage.setItem(id, JSON.stringify(data))
        window.location.reload()
    }

    // Item Quantity Minus function
    function qtychangedown(id) {
        let qtyitm = JSON.parse(localStorage.getItem(id)).quantity;
        if (qtyitm == 1) {
            deleteitem(id)
        }
        else {
            let imgg = JSON.parse(localStorage.getItem(id)).image;
            let titl = JSON.parse(localStorage.getItem(id)).title;
            let pric = JSON.parse(localStorage.getItem(id)).price;
            let act = JSON.parse(localStorage.getItem(id)).actprc;

            let data = {
                'title': titl,
                "quantity": --qtyitm,
                "image": imgg,
                "price": pric,
                "actprc": act
            }

            localStorage.setItem(id, JSON.stringify(data))
        }
        window.location.reload()
    }
    
</script>
<script src="{% static 'blinklight.js'%}"></script>

</html>