<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADSHIP - Online Shopping Store</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylss.css' %}">
    <link rel="icon" href="{% static 'MADICON.png' %}" type="image/png">
</head>

<body>
    <nav class="greycon">
        <h1>MAD<span id="colship">SHIP</span></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'store' %}">Store</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
        <button type="submit" id="login" class="login"><a href="{% url 'login' %}">Sign In</a></button>
        <a href="{% url 'cart' %}"><img src="{% static 'shopcart.png' %}" alt="" id="cartimg"></a>
        <!-- <div class="dotbox" id="dotbox"></div> -->

    </nav>
    <div class="mainsection">
        <div class="sideimage">
            <img src="{% static 'sideimg.png' %}" alt="" height="220px">
        </div>
        <div class="mainbody">
            <div class="mainhead">
                <h1 class="headning">Shop <span class="at">@</span> <span class="madship">MADSHIP</span></h1>
                <h3 class="headning3">DISCOUNT | SHOPPING | COUPONS</h3>
                <p class="paraning">Whatever you’ve got in mind, we’ve got inside.</p>
            </div>
            <div class="mainbtn">
                <button class="shopbtn"><a href="#1">Shop Now</a></button>
                <button class="signbtn"><a href="{% url 'about' %}">About Us</a></button>
            </div>
        </div>
        <div class="mainimage">
            <img src="{% static 'mainimg.png' %}" alt="" height="370px" width="370px">
        </div>
    </div>
    <div class="advertise">
        <div class="firstad">
            <div class="firsttwo">
                <!-- <img src="{% static "discount.png" %}" alt="" height= "100px" class= "firstimg"> -->
                <img src="{% static 'discount.png' %}" alt="" height="70px" class="firstimg">
                <h2 class="fnt">DISCOUNT</h2>
            </div>
            <p class="firstpara">Here You'll Get Bumper Discounts</p>
        </div>
        <div class="firstsep">

        </div>
        <div class="secondad">
            <div class="secondtwo">
                <!-- <img src="{% static "sale.png" %}" alt="" height= "100px" class= "secondimg"> -->
                <img src="{% static 'sale.png' %}" alt="" height="70px" class="secondimg">
                <h2 class="fnt">MONTHLY SALE</h2>
            </div>
            <p class="secondpara">Here You'll Get Monthly Sales</p>
        </div>
        <div class="firstsep">

        </div>
        <div class="thirdad">
            <div class="thirdtwo">
                <!-- <img src="{% static "qc.png" %}" alt="" height= "100px" class= "thirdimg"> -->
                <img src="{% static 'qc.png' %}" alt="" height="70px" class="thirdimg">
                <h2 class="fnt">QUALITY CHECKED</h2>
            </div>
            <p class="thirdpara">All Products are Quality Checked</p>
        </div>
    </div>
    <div class="conshopbycat" id="1">
        <h1 class="headbycat"><span class="shopby">SHOP</span> BY <span class="goldcat">CATEGORY</span></h1>
    </div>
    <div class="blockproducts">
        <div class="block1">
            <a href="{% url 'store' %}"><img src="{% static 'k1.png' %}" alt="" height="200px" width="180px"></a>
            <h2 class="sbph2">Kurta</h2>
            <p class="blockpara1">Men's Fashion</p>
        </div>
        <div class="block2">
            <a href="{% url 'store' %}"><img src="{% static 'g2.png' %}" alt="" height="200px" width="180px"></a>
            <h2 class="sbph2">Dress</h2>
            <p class="blockpara2">Women's Fashion</p>
        </div>
        <div class="block3">
            <a href="{% url 'store' %}"><img src="{% static 's4.webp' %}" alt="" height="200px" width="180px"></a>
            <h2 class="sbph2">Shoes</h2>
            <p class="blockpara3">Footwears</p>
        </div>
        <div class="block4">
            <a href="{% url 'store' %}"><img src="{% static 'p6.png' %}" alt="" height="200px" width="180px"></a>
            <h2 class="sbph2">Mobile</h2>
            <p class="blockpara4">Electronics</p>
        </div>

    </div>
    <div class="vcsbtn">
        <button class="viewbtn"><a href="{% url "store" %}">View All</a></button>
    </div>


    {% comment %} <div class="conbestseller">
        <h1 class="headbestseller"><span class="shopby">BEST</span> <span class="goldcat">SELLER</span></h1>
    </div>
    <div class="rollproducts">
        <div class="roll1 roll">
            <a href=""><img src="{% static 'kurta.jpg'%}" alt="" height="200px" width="200px"></a>
            <h2>Kurta</h2>
            <p class="blockpara1">Men's Fashion</p>
        </div>
        <div class="roll2 roll">
            <a href=""><img src="{% static 'suit.jpg'%}" alt="" height="200px" width="200px"></a>
            <h2>Formal</h2>
            <p class="blockpara2">Women's Fashion</p>
        </div>
        <div class="roll3 roll">
            <a href=""><img src="{% static 'shoes.png'%}" alt="" height="200px" width="200px"></a>
            <h2>Shoes</h2>
            <p class="blockpara3">Footwears</p>
        </div>
        <div class="roll4 roll">
            <a href=""><img src="{% static 'iphone14pro.png'%}" alt="" height="200px" width="200px"></a>
            <h2>iPhone 14 Pro</h2>
            <p class="blockpara4">Electronics</p>
        </div>
        <div class="roll1 roll">
            <a href=""><img src="{% static 'kurta.jpg'%}" alt="" height="200px" width="200px"></a>
            <h2>Kurta</h2>
            <p class="blockpara1">Men's Fashion</p>
        </div>
        <div class="roll2 roll">
            <a href=""><img src="{% static 'suit.jpg'%}" alt="" height="200px" width="200px"></a>
            <h2>Formal</h2>
            <p class="blockpara2">Women's Fashion</p>
        </div>
        <div class="roll3 roll">
            <a href=""><img src="{% static 'shoes.png'%}" alt="" height="200px" width="200px"></a>
            <h2>Shoes</h2>
            <p class="blockpara3">Footwears</p>
        </div>
        <div class="roll4 roll">
            <a href=""><img src="{% static 'iphone14pro.png'%}" alt="" height="200px" width="200px"></a>
            <h2>iPhone 14 Pro</h2>
            <p class="blockpara4">Electronics</p>
        </div>

    </div> {% endcomment %}
    <div class="testysep">

    </div>
    <div class="testyblock">
        <div class="testyupper">
            <h1 class= "testyhead">TESTIMONIALS</h1>
            <p class= "testypara">“See what our customers thinks about us”</p>
        </div>
        <div class="flextesty">
            <div class="testimonial">
                <p class="testypeepsay"><span class= "testyquote">“</span><br>MADSHIP makes online shopping a breeze with its vast selection and seamless user experience. I'm a happy, repeat customer!</p>
                <img src="{% static 'testyfirstpic.png' %}" alt="" class= "peeppic" width="50px" height= "50px">
                <h4 class= "peepname">Raghav Jain</h4>
            </div>
            <div class="testimonial">
                <p class="testypeepsay"><span class= "testyquote">“</span><br>MADSHIP is my go-to online shopping destination – their quality products, competitive prices, and fast delivery keep me coming back for more!</p>
                <img src="{% static 'testysecondpic.png' %}" alt="" class= "peeppic" width="50px" height= "50px">
                <h4 class= "peepname">Arushi Sinha</h4>
            </div>
            <div class="testimonial">
                <p class="testypeepsay"><span class= "testyquote">“</span><br>Discover the ultimate shopping experience at MADSHIP, where variety and convenience meet. Shop here for your every desire!</p>
                <img src="{% static 'testythirdpic.png' %}" alt="" class= "peeppic" width="50px" height= "50px">
                <h4 class= "peepname">Vivek Shukla</h4>
            </div>

        </div>
    </div>
    <div class="testyendsep">

    </div>

    <div class="freqask">
        <h1 class="title">FAQs</h1>
        <div class="faq" onclick="change('up1')">
            <div class="question">
                <h3>How long does shipping take ?</h3>
                <i class="fa-solid fa-chevron-down" id="up1"></i>
            </div>
            <div class="answer">
                <p>Shipping typically takes 2-3 working days, although delivery times may vary depending on your location. Rest assured, we make every effort to get your order to you as quickly as possible.</p>
            </div>
        </div>
        <div class="faq" onclick="change('up2')">
            <div class="question">
                <h3>Is My Personal Information Secure ?</h3>
                <i class="fa-solid fa-chevron-down" id="up2"></i>
            </div>
            <div class="answer">
                <p>We take data security seriously. Your personal information is encrypted and protected using industry-standard security measures.</p>
            </div>
        </div>
        <div class="faq" onclick="change('up3')">
            <div class="question">
                <h3>What payment methods are accepted ?</h3>
                <i class="fa-solid fa-chevron-down" id="up3"></i>
            </div>
            <div class="answer">
                <p>We accept major credit cards, debit cards, digital wallets like PayPal, and even offer the convenience of cash on delivery for eligible orders.</p>
            </div>
        </div>
        <div class="faq" onclick="change('up4')">
            <div class="question">
                <h3>How Can I Contact Customer Support ?</h3>
                <i class="fa-solid fa-chevron-down" id="up4"></i>
            </div>
            <div class="answer">
                <p>You can find detailed contact information, including our email address and phone number, on our Contact Page. We're here to assist you with any questions or concerns.</p>
            </div>
        </div>
        <div class="faq" onclick="change('up5')">
            <div class="question">
                <h3>Can I cancel my order anytime ?</h3>
                <i class="fa-solid fa-chevron-down" id="up5"></i>
            </div>
            <div class="answer">
                <p>Orders can be canceled within 24 hours of purchase by contacting our customer support. We understand that circumstances may change, and we're here to assist you with any cancellation requests during this timeframe.</p>
            </div>
        </div>
    </div>


    <footer>
        <div class="socialmedia">
            <a href="https://www.facebook.com/john.byro.56"><img src="{% static 'facebook.png'%}" alt="" height="35px"
                    width="35px"></a>
            <a href="https://www.linkedin.com/in/only4aj/"><img src="{% static 'linkedin.png'%}" alt="" height="35px"
                    width="35px"></a>
            <a href="https://www.instagram.com/only4aj/"><img src="{% static 'instagram.png'%}" alt="" height="35px"
                    width="35px"></a>
            <a href="https://www.youtube.com/channel/UC23C6Vghe1eROCsvEyM-4hQ"><img src="{% static 'youtube.png' %}"
                    alt="" height="35px" width="35px"></a>
        </div>
        <div class="copyright">
            <h3>
                Copyright © 2023 MADSHIP
            </h3>
            <p class="rights">All Rights Reserved</p>
        </div>
    </footer>
    <script src="{% static 'faq.js' %}"></script>
</body>
<!-- <script src="{% static 'blinklight.js'%}"></script> -->

</html>