<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>items - MADSHIP</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    {% load static %}
    <link rel="stylesheet" href="{% static 'item.css' %}">
    <link rel="icon" href="{% static 'MADICON.png' %}" type="image/png">
</head>

<body>
    <header>
        <nav class="greycon">
            <h1>MAD<span id="colship">SHIP</span></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'store' %}">Store</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
            <button type="submit" id="login" class="login"><a href="{% url 'login' %}">Sign In</a></button>
            <a href="{% url 'cart' %}"><img src="{% static 'shopcart.png' %}" alt="" id="cartimg"></a>
            <!-- <div class="dotbox" id="dotbox"></div> -->

        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row df" id="setText">
                <div class="box-one bg-box df">
                    <p class="menfash">MEN'S FASHION</p>
                </div>
                <div class="box-two bg-box df">
                    {%for i in data %}
                    {% if i.item_id > 1000 and i.item_id < 1099 %} <div class="df">
                        <form action="{% url 'product'%}" method="post" class="box df">
                            <button type="submit" class="btn">
                                <div class="box df">
                                    {% csrf_token %}
                                    <!-- <button type="submit" style="border: none;"> -->
                                    <a>
                                        <input type="text" name="id" value="{{i.item_id}}" style="display: none;">
                                        <img src="{{i.image.url}}" alt="kurta">
                                    </a>
                                    <!-- </button> -->
                                    <div class="box-data df fnt-sz">
                                        <p class="brand">{{i.brand}}</p>
                                        <p class="title">{{i.title}}</p>
                                        <div class="price df">
                                            <p class="dis-p fnt-sz">₹ {{i.dis_price}}</p>
                                            <p class="act-p fnt-sz">₹{{i.act_price}}</p>
                                            <p class="dis fnt-sz">{{i.offer}}% off</p>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    </main>
</body>
<script src="{% static 'javascript.js' %}"></script>
<!-- <script src="{% static 'blinklight.js'%}"></script> -->

</html>