<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'products.css'%}">
    <link rel="icon" href="{% static 'MADICON.png' %}" type="image/png">
    <title>Document</title>
</head>

<body>
    <main>
        <nav class="greycon">
            <h1>MAD<span id="colship">SHIP</span></h1>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'store' %}">Store</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
            <button type="submit" id="login" class="login"><a href="{% url 'logout' %}">Logout</a></button>
            <a href="{% url 'cart' %}"><img src="{% static 'shopcart.png' %}" alt="" id="cartimg"></a>
            <div class="dotbox" id="dotbox"><div class="dot" id="dot"></div></div>
        </nav>
        <div class="container df">
            <div class="image df"><img src="{{data.image.url}}" alt="{{data.title}}" width="{{data.width}}px" id="imgg">
            </div>
            <div>
                <div class="data df">
                    <div id="id" style="display: none;">{{data.item_id}}</div>
                    <div class="comn brd">{{data.brand}}</div>
                    <div class="comn ttl " id="ttl">{{data.title}}</div>
                    <div class="comn pricespl df">
                        <span>Special Price</span>
                        <div class="spl price df">
                            <div class="dis">₹<p id="price">{{data.dis_price}}</p>
                            </div>
                            <div class="act">₹<p id="act">{{data.act_price}}</p>
                            </div>
                            <div class="ofr">{{data.offer}}%</div>
                        </div>
                    </div>
                    <div class="comn dtl df ">
                        <span>Details</span>
                        {%if data.item_id > 1500 and data.item_id < 1599 %} <li>Model : {{data.d1}}</li>
                            <li>RAM : {{data.d2}}GB</li>
                            <li>Storage : {{data.d3}}GB</li>
                            <li>Processor : {{data.d4}}</li>
                            {%elif data.item_id >= 1600 and data.item_id < 1699 %} <li>Color : {{data.d1}}</li>
                                <li>Size : {{data.d2}}</li>
                                <li>Type : {{data.d3}}</li>
                                <li>Material : {{data.d4}}</li>
                                {% else %}
                                <li>Color : {{data.d1}}</li>
                                <li>Size : {{data.d2}}</li>
                                <li>Type : {{data.d3}}</li>
                                <li>Ocassion : {{data.d4}}</li>
                                {%endif%}
                    </div>
                    <div class="comn dscrn df dtl">
                        <span>Description</span>
                        <p>{{data.description}}</p>
                    </div>
                </div>
                <div class="btnbox">
                        <button class="addtcrd" onclick="setdata(),blink()">Add to Cart</button>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="{% static 'product.js' %}"></script>

</html>